{
	"env": {
		"browser": true,
		"jest": true,
		"es6": true
	},
	"plugins": ["react", "import", "prettier"],
	"extends": [
		"airbnb",
		"prettier",
		"prettier/react",
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"no-console": "warn",
		"no-eval": "error",
		"import/first": "error",
		"react/jsx-filename-extension": 0,
		"react/jsx-props-no-spreading": 0,
		"max-classes-per-file": ["error", 5],
		"no-nested-ternary": 0
	}
}
